<div class="card">
    <div class="card-body">
        <h6 class="text-center">
            Lista de Usuarios
        </h6>
        <table class="table table-sm table-hover">
            <tbody>
                <tr *ngFor="let user of userlist">
                    <td>{{user.name}}</td>
                    <td>{{user.apellido}}</td>
                    <td>{{user.locacion}}</td>
                    <td>{{user.edad}}</td>
                    <td>
                        <a class="btn btn-secondary text-white" (click)="onEdit(user)">
                            <i class="far fa-edit"></i>
                        </a>
                        <a class="btn btn-danger text-white" (click)="onDelete(user.$key)">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>