.body {
    background-image: url('/assets/imgs/bck.png');
    background-repeat: no-repeat;
    background-size: auto;
    margin: 10px 0px 0px 0px;
}

.ae-container-fluid {
    padding: 0.25em 0.3em;
    text-align: center;
    font-weight: 800;
    margin: 132px 15px 0px 0px;
    color: white;
}