.ng-app {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
}

.body {
    background-image: url('/assets/imgs/bck.png');
    background-repeat: no-repeat;
    background-size: auto;
    margin: 10px 0px 0px 0px;
}

.btn-facebook,
.btn-google,
.btn-twitter {
    width: 32%;
}

.btn-facebook {
    background: #3b5998;
    color: #fff;
}

.btn-google {
    background: #dd4b39;
    color: #fff;
}

.btn-twitter {
    background: #55acee;
    color: #fff;
}

.ae-container-fluid {
    padding: 0.25em 0.3em;
    text-align: center;
    font-weight: 800;
    margin: 40px 15px 0px 0px;
    color: white;
}